<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="row">
      <div id="landing-content" class="col-lg-9">
        <h3><b>Welcome,</b></h3>
        <p>
          Our service would allow people to follow a news organization or a blogger.
        </p>
        <p>
        </p>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="well">
            <%= render "devise/sessions/form" %>
            <%= link_to "Forgot your password?", new_password_path(:user) %>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Create an Account</h3>
            </div>
            <div class="panel-body">
              <%= render "devise/registrations/form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
